//- *** configurações do projeto ***
//- site responsivo?
- var responsivo = true;

//- componentes?
- var fancyBox = true;
- var bxSlider = true;
- var pictureFill = true;
- var deviceJs = true;
- var isJs = true;
- var mask = true;

//- *** layout opções ***
//-	menu content
- var menuInterativo = ["RM Online", "Webmail Univel", "AVA", "Vestibular", "Atendimento"]
- var menuItens = ["Graduação", "Pós-graduação", "Educação a Distância", "Minicursos", "Central do Aluno", "Institucional"]
- var menuInstItens = ["Início", "Dúvida", "Contato"]

//- sidebar?
- var sidebar = false;