footer#footer
  nav#menu-footer
    ul
      each menuIten, i in menuItens
        li: a(href="#") #{menuIten}

// build:js(.) scripts/vendor.js
// bower:js
script(src="bower_components/jquery/dist/jquery.js")

if mediaqueriesIe
  script(src="bower_components/css3-mediaqueries/css3-mediaqueries.js")

if bxSlider
  script(src="bower_components/bxslider-4/src/js/jquery.bxslider.js" )

if fancyBox
  script(src="bower_components/fancybox/source/jquery.fancybox.js")

if pictureFill
  script.
    document.createElement( "picture" )
  script(src="bower_components/picturefill/src/picturefill.js" )
  script.
    picturefill( {
        reevaluate: true
    } );

if deviceJs
  script(src="bower_components/devicejs/lib/device.js" )

if isJs
  script(src="bower_components/is_js/is.js" )

if mask
  script(src="bower_components/mask/src/jquery.mask.js" )

// endbower
// endbuild

// Google Analytics: change UA-XXXXX-X to be your site's ID.
script.
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');

// build:js({app,.tmp}) scripts/main.js
script(src="scripts/main.js")
// endbuild