header#header
	.wrapper
		a(href="#")
			h1#logo Univel
		div#menu-interativo
				ul
					each menuIten, i in menuInterativo
						li: a(href="#") !{menuIten}
					li.search: a(href="#")
		nav#menu
				ul
					each menuIten, i in menuItens
						li: a(href="#") !{menuIten}