include ./data.jade
head
    meta(charset="utf-8")
    title webapp base
    meta(name="description" content="")

    if responsivo
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    else
        meta(name="viewport" content="width=device-width")

    link(rel="shortcut icon" href="/favicon.ico")
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.) styles/vendor.css
    // bower:css

    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src="bower_components/modernizr/modernizr.js")
    // endbuild