if home
	#webdoor
		ul.slider
			li: img(src="images/bg-slider.jpg" alt="")
			li: img(src="images/bg-slider.jpg" alt="")
			li: img(src="images/bg-slider.jpg" alt="")
else
	#webdoor-interna
		if picture
			picture.image
				source(srcset="http://placehold.it/320x73/999999" media="(max-width: 320px)")
				source(srcset="http://placehold.it/480x110/666666" media="(max-width: 480px)")
				source(srcset="http://placehold.it/768x175/333333" media="(max-width: 768px)")
				source(srcset="http://placehold.it/1024x234/333333" media="(max-width: 1024px)")
				source(srcset="http://placehold.it/1920x234" media="(min-width: 1025px)")
				img(src="http://placehold.it/1920x234" srcset="http://placehold.it/1920x234" alt="")
		else
			figure
				img(src="http://placehold.it/1920x234")