extends ./tpl/tpl-home.jade
block content
	div#content
		div.destaques
			div.box
				h3.titulo-3  Lorem ipsum dolor.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, atque!
				a(href="#") saiba mais 
				img(src="imagem")

			div.box
				h3.titulo-3  Lorem ipsum dolor.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, sed.
				a(href="#") saiba mais 
				img(src="imagem")

			div.box
				h3.titulo-3  Lorem ipsum dolor.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, non!
				a(href="#") saiba mais 
				img(src="imagem")
		div#estudar
			div.box-left
				span
			div.box-right

		div#ingressar
			.wrapper
				div.intro
				div.item-1
					span
				div.item-2
					span