- var BodyClass = "home";
- var home = true;
doctype html
html.no-js
	include ./../includes/head.jade

	body(class="#{BodyClass}")
		include ./../includes/header.jade
		include ./../includes/webdoor.jade
		block content

		include ./../includes/footer.jade