- var BodyClass = "interna";
doctype html
html.no-js
  include ./../includes/head.jade

  body(class="#{BodyClass}")
    include ./../includes/header.jade
    article#main
      block content

  include ./../includes/footer.jade