@import "susy";
$susy: (
    columns: 12,
    container: 1230px,
    column-width: 70px,
    gutters: 25px/70px,
    debug: (image: hide),
);

%element-invisible {
    display: none;
}

%placeholder {
    color: #ccc;
}

%table {
    display: table;

    .row {
        display: table-row;

        .cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
%lista-itens-inline-block {
    li {
        display: inline-block;
    }
}

%lista-itens-left {
    li {
        float: left;
    }
}
%lista-itens-right {
    li {
        float: right;
    }
}

%box-align-left {
    float: left;
}
%box-align-right {
    float: right;
}

.wrapper {
    width: 100%;
    @include container();
    padding: 0 gutter();
}