input[type="text"],
input[type="submit"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select,
button {
	 -webkit-appearance: none;
	@include border-radius(0);
	border: none;
}

label {
	font-size: em(13px);
	line-height: em(28px, 13px);
}

input[type="text"] {
	@include box-shadow( inset 0px 1px 1px #bebebe);
	margin-bottom: 10px;
	padding: 10px 5px;
	height: 37px;
	width: 100%;
	border: {
		top: solid 1px #bebebe;
		right: solid 1px #dcdcdc;
		bottom: solid 1px #dcdcdc;
		left: solid 1px #bebebe;
	}
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}