#header{
    position: absolute;
    top: 0;
    z-index: 9;
    left: 0;
    right: 0;
}

#logo{
	text-indent: -99999px;
	width: 198px;
	height: 140px;
	background: url(../images/logo.jpg);
	display: table;
	@extend %box-align-left;
}