#menu-interativo{
	@include span(10);
	margin-right: 0;
	background: $azulClaro;
	border-top: 1px solid $azulEscuro;
	ul{
		display: table;
		@extend %box-align-right;
		height: 50px;
	}
	li{
		display: table-cell;
		vertical-align: middle;
		color: $branco;
		font-size: 15px;
		line-height: 18px;
		@extend %helve-ce;
		a {
			border-left: 1px solid $branco;	
			padding: 0 20px;		
		}
		&:first-child{
			a{
				border-left: none;
			}
		}
		&.search{
				border-left: 1px solid $azulEscuro;
				padding: 0 20px;
				cursor: pointer;
			a{
				border-left: none;
				background: url(../images/icons/busca.png) no-repeat center center;
				width: 20px;
				height: 20px;
				display: block;
			}
		}

	}
}

#menu {
	@extend %box-align-left;
	@include span(10);
	margin-right: 0;
	@extend %lista-itens-inline-block;
	background: $azulEscuro;
	padding-left: 30px;
	ul{
		display: table;
		height: 90px;
		@extend %box-align-left;
	}
	li{
		display: table-cell;
		vertical-align: middle;
		color: $branco;
		padding: 0 20px;
		font-size: 17px;
		line-height: 17px;
		letter-spacing: -1px;
		@extend %helve-bold;
		border-right: 1px solid $azul;
		border-left: 1px solid $azulClaro;
		&:first-child{
			padding-left: 60px;
			background: url(../images/icons/home.png) no-repeat 0px 30px;
			border-left: none;			
		}
		&:last-child{
			border-right: none;
		}
	}
}
