// background-rgba
@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

//media query
@mixin break-min($breakpoint) {
	@media only screen and ( min-width: #{$breakpoint}){
		@content;
	}
}
@mixin break-max($breakpoint) {
	@media only screen and ( max-width: #{$breakpoint}){
		@content;
	}
}
@mixin break-and($breakpoint-min,$breakpoint-max) {
	@media only screen and ( min-width: #{$breakpoint-min} ) and ( max-width: #{$breakpoint-max}){
		@content;
	}
}

//text-indent
@mixin text-indent($width,$height){
	text-indent: -99999em;
	height: $height;
	display: block;
	width: $width;
}

//after end before
@mixin before-icon($width,$height) {
	&:before {
		text-indent: -99999em;
		content: "";
		width: $width;
		height: $height;
		@content;
	}
}
@mixin after-icon($width,$height) {
	&:before {
		text-indent: -99999em;
		content: "";
		width: $width;
		height: $height;
		@content;
	}
}