*, *:before, *:after {
    @include box-sizing(border-box);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

sup {
    vertical-align: top;
    font-size: em(10px, 16px);
}

input[type="submit"],
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

body {
    a {
        text-decoration: inherit;
        font-family: inherit;
        color: inherit;
    }
}
html, body{
    height: 100%;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}