$base-font-size: 16px;
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

body {
    font-size: $base-font-size;
    font-family: Verdana, Arial, Sans-serif;
    color: $padraoTexto;
}

p {
    font-size: em(13px);
    margin-bottom: 20px;
    line-height: em(24px, 13px);
}

@font-face {
    font-family: 'helvetica_neuebold';
    src: url('fonts/hlb__-webfont.eot');
    src: url('fonts/hlb__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hlb__-webfont.woff2') format('woff2'),
         url('fonts/hlb__-webfont.woff') format('woff'),
         url('fonts/hlb__-webfont.ttf') format('truetype'),
         url('fonts/hlb__-webfont.svg#helvetica_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neueroman';
    src: url('fonts/hlr__-webfont.eot');
    src: url('fonts/hlr__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hlr__-webfont.woff2') format('woff2'),
         url('fonts/hlr__-webfont.woff') format('woff'),
         url('fonts/hlr__-webfont.ttf') format('truetype'),
         url('fonts/hlr__-webfont.svg#helvetica_neueroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

%helve-bold{
	font-family: 'helvetica_neuebold';
}
%helve-ce{
	font-family: 'helvetica_neueroman';
}
.titulo-1{}

.titulo-2{}

.titulo-3{}

.titulo-4{}

.titulo-5{}

.titulo-6{}